<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/generalFragments.html :: headerHTML(pageTitle = 'Products')">
</head>
<body>
<div th:insert="fragments/generalFragments.html :: headerDiv"></div>
<tr th:each="item: ${itemList}">
    <td th:text="${item.getItemId()}" />
    <td th:text="${item.getName()}" />
    <td th:text="${item.getPrice()}" />
</tr>

<table class="table table-striped table-responsive-md btn-table">

    <thead>
    <tr>
        <th>#</th>
        <th>Product name</th>
        <th>Product price</th>
        <th>Available colours</th>
        <th> </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="item: ${itemList}">
        <th scope="row">1</th>
<!--        <td th:text="${item.getItemId()}" />-->
        <td th:text="${item.getName()}" />
        <td th:text="${item.getPrice()}" />
        <td th:text="${item.getAvailableColours()}" />
        <td>
            <button type="button" class="btn btn-teal btn-rounded btn-sm m-0">Buy</button>
        </td>
    </tr>
    </tbody>

</table>
</body>
</html>
